<footer class="ubik-footer">
  <div class="footer-content">

    <div class="footer-brand">
      <a href="#" class="logo-link">
        <img src="https://res.cloudinary.com/dm4h2avio/image/upload/v1759339412/Sin_t%C3%ADtulo-3-05_cazsb1.png" alt="">
      </a>
    </div>

    <div class="footer-links-container">

      <div class="footer-column">
        <h3 class="column-title">AYUDA</h3>
        <ul>
          <li><a href="#">Gestiona tus reservas</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Centro de ayuda</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3 class="column-title">CONTACTO</h3>
        <ul>
          <li><a href="#">Dirección</a></li>
          <li><a href="#">Centro de ayuda</a></li>
          <li><a href="#">Registra tu establecimiento</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>