<app-header></app-header>

<main id="destinos">
        <section class="section">
            <div class="section-header">
                <div class="section-logo">
                    <span style="color: #C53855;">U</span>
                </div>
                <div class="section-title">
                    <h2>EXPLORA DESTINOS</h2>
                    <p>Descubre los mejores lugares cerca de ti</p>
                </div>
            </div>

            <div class="filters">
                <button class="filter-btn">Quindío</button>
                <button class="filter-btn">Armenia</button>
                <button class="filter-btn">Montenegro</button>
                <button class="filter-btn">Buenavista</button>
                <button class="filter-btn">Naturaleza</button>
                <button class="filter-btn">Urbano moderno</button>
                <button class="filter-btn">Retiros campestres</button>
            </div>

            <div class="destinations-grid">
                <div class="destination-card">
                    <div class="destination-image"><img src="https://res.cloudinary.com/dyxwcc2j1/image/upload/v1759381544/h1_tidtnr.jpg" alt=""></div>
                    <div class="destination-info">
                        <h3>ARMENIA</h3>
                        <p>Ciudad principal del Quindío</p>
                        <p>25+ establecimientos disponibles</p>
                    </div>
                </div>

                <div class="destination-card">
                    <div class="destination-image"><img src="https://res.cloudinary.com/dyxwcc2j1/image/upload/v1759381486/M61A0436_vokyej.webp" alt=""></div>
                    <div class="destination-info">
                        <h3>MONTENEGRO</h3>
                        <p>Cerca al Parque del Café</p>
                        <p>15+ establecimientos disponibles</p>
                    </div>
                </div>

                <div class="destination-card">
                    <div class="destination-image"><img src="https://res.cloudinary.com/dyxwcc2j1/image/upload/v1759381581/h2_cxedeu.jpg" alt=""></div>
                    <div class="destination-info">
                        <h3>SALENTO</h3>
                        <p>Pueblo turístico tradicional</p>
                        <p>10+ establecimientos disponibles</p>
                    </div>
                </div>

                <div class="destination-card">
                    <div class="destination-image"><img src="https://res.cloudinary.com/dyxwcc2j1/image/upload/v1759381622/h3_z8doyg.jpg" alt=""></div>
                    <div class="destination-info">
                        <h3>CALARCÁ</h3>
                        <p>Zona tranquila y privada</p>
                        <p>12+ establecimientos disponibles</p>
                    </div>
                </div>
            </div>
        </section>
    </main>


<app-footer></app-footer>