:root {
    --color-darkest: #0b0608;
    --color-dark: #260e18;
    --color-mid-dark: #452635;
    --color-accent-main: #932236;
    --color-text-light: #ffffff;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    color: var(--text-color);

}

:root {
    --bg-color: linear-gradient(to right, #0B0608, #501521);
    --text-color: #ffffff;
    color-scheme: light dark;
    background-color: var(--bg-color);
}

footer {
    background-color: var(--bg-color);
}

body {
    background: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

p,
a,
ul,
li,
span {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.buttom-primary {
    background: linear-gradient(to right, #501521, #932236) no-repeat;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body.no-footer footer {
    display: none;
}

main {
    min-width: 100vh;
}