:root {
    --color-darkest: #0b0608;
    --color-dark: #260e18;
    --color-mid-dark: #452635; 
    --color-accent-main: #932236; 
    --color-text-light: #ffffff;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

app-root { 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex-grow: 1; 
}